<!-- <nav class="navbar navbar-light bg-white">
        <a href="#" class="navbar-brand">My Posts</a>
    </nav> -->
    
    
    <div class="container-fluid gedf-wrapper">
        <div class="row">
    
            <!--profile section-->
            <div class="col-md-3">
                <div class="card">
                        <div class="card-body">
                                <div class="h5">{{loggedInUserName}}</div>
                                <div class="h7 text-muted">User Id : {{loggedInUserEmailId}}</div>
                                <img class="rounded-circle" width="200" [src]="loggedInUserDP" alt="">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h6 text-muted">Number of good deeds done by you: </div>
                            </li>
                            <li class="list-group-item">
                                <div class="h5">In this week</div>
                                <div class="h5">{{postsCount}}</div>
                            </li>
                            <li class="list-group-item">
                                <div class="h5">In this month</div>
                                <div class="h5">{{postsCount}}</div>
                            </li>
                    </ul>
                </div>
            </div>
    
            <div class="col-md-6 gedf-main">
    
                    <!--- Create new feed-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" (click)="createPost()" class="btn btn-success">HOW ECO-FRIENDLY WERE YOU TODAY?</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Post /////-->
    
                <!--- \\\\\\\Post-->
                <div *ngFor="let socialFeed of socialFeedList" class="card gedf-card">
    
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" [src]="loggedInUserDP" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">{{loggedInUserName}}</div>
                                    <div class="h7 text-muted">{{loggedInUserEmailId}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="card-body">
    
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>  {{socialFeed.updatedDate | dateAgo}} </div>
                        <a class="card-link" href="#">
                            <h5 class="card-title">{{socialFeed.location}}</h5>
                        </a>
    
                        <p class="card-text">
                            {{socialFeed.description}}
                        </p>
                            
                        <div>
                            <img width="400" height="400" [src]="socialFeed.image">
                        </div>
                    </div>
    
                    <div class="card-footer">
                        <a href="#" class="card-link" (click)="updatePost(socialFeed)"><i class="material-icons eco-button">edit</i> Update</a>
                        <a href="#" class="card-link" (click)="deletePost(socialFeed)"><i class="material-icons eco-button">delete</i> Delete</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    