<section  class="bgimg" id="mat-card" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="1000px" fxFlex.xs="100%">

       
          <mat-card-header>
            <mat-card-title>{{petition?.title}}</mat-card-title>
              <mat-card-subtitle>{{petition?.category}}</mat-card-subtitle>
          </mat-card-header>
         
          <mat-card-content style="height:200px">
            <div id="div-left" style="width: 50%; float:left">
              <img [src]="petition?.mediapath" mat-card-image class="test-card" alt="Photo of a Shiba Inu">
           </div>
           
           <div  style="width: 50%; float:right">
            {{petition?.shortDescription}}

            <br>
            {{petition?.createdby}}

            <!-- <iframe width="380" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe> -->
           </div>
          </mat-card-content>
   
            <div>
              <button mat-flat-button class="button-custom" color="primary" (click)="signPetition()">Sign this petition</button>
            </div>
        </mat-card>
        

        


</section>

