<app-nav-bar></app-nav-bar>
<div class="firmalar">
  <div class="container">
    <h1 class="mainTitle">My Fundraisers List</h1>
    <hr>
    <div class="row" *ngFor="let fundraiser of fundraisers">
      <div class="col-md-10">
        <div class="firma-card row">
          <div class="col-md-12">
            <div class="firma-aciklama card-body">
              <h2>{{fundraiser.title}}</h2>
              <p>by <i>{{fundraiser.emailId}}</i></p>
              <p class="category">Category: {{fundraiser.category}}</p>
              <p class="short-desc">{{fundraiser.shortDescription}}</p>
              <hr>
              <h4>Donation Collected</h4>
              <progress-bar [progress]="fundraiser.collectedAmount/fundraiser.targetAmount*100" [color-degraded]="{'0': '#2BA84A', '100': '#FF0202'}">
              </progress-bar>
              <p class="centre">Collected {{fundraiser.collectedAmount}} of {{fundraiser.targetAmount}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 firma-buttons">
        <div class="buttons">
          <button class="btn btn-info" [routerLink]="['/my-fundraiser-detail',fundraiser.id]">View More Info</button>
          <hr>
          <button class="btn btn-success" [routerLink]="['/edit-fundraiser', fundraiser.id]">Edit Fundraiser</button>
        </div>
      </div>
    </div>
  </div>
</div>

