<div class="col-md-8 container">
    <h2 class="text-center">View All Petition</h2>

         


      <ul id="petitions"  *ngFor="let petition of petitionList">
      <li>
           <button class="edit" (click)="getTodo(todo, todo._id)">Title - {{petition.title}}</button>
          <br>
          <br>
          <label >Target - {{petition.target}}</label>
          <br>
          <br>
          <label >Description - {{petition.description}}</label>
          <br>
          <br>
          <label >MediaPath - {{petition.mediapath}}</label>
          <br>
          <br>
          <label >Email - {{petition.email}}</label>
          <br>
          <br>
          <label >Username - {{petition.username}}</label>
          <br>
          <br>

        <button class="edit" (click)="updatepetition(petition._id)">Edit</button>    
        <button class="delete" (click)="deletepetition(petition._id,petition)">Delete</button>
      </li>  
      </ul> 
</div>

   
      
      

