<!-- <app-nav-bar></app-nav-bar> -->
    <video class="background" [autoplay]="true" [muted]="true" [loop]="true" [controls]="false">
      <source src="../../assets/images/vid.mp4" alt="video" type="video/mp4">
    </video>

    <div class="overlay-video">
        <p class="text">Be a part of the SOLUTION, not part of the POLLUTION! Together, let's make the world GREENER.</p>
    </div>
    
    <div class="blogs-header">Blogs on Environmental Issues</div>

    <app-blogs-list></app-blogs-list>

    <div class="aqi-header">Current Air Quality Index Check</div>

    <app-air-quality-check></app-air-quality-check>


