<h1>Fundraisers List</h1>
<table>
    <thead>
    <th scope="col">Title</th>
    <th scope="col">Category</th>
    <th scope="col">Short Description</th>
    <th scope="col">Target Amount</th>
    <th scope="col">Collected Amount</th>
    </thead>
    <tbody>
    <tr *ngFor="let fundraiser of fundraisers">
        <td>{{fundraiser.title}}</td>
        <td>{{fundraiser.category}}</td>
        <td>{{fundraiser.shortDescription}}</td>
        <td>{{fundraiser.targetAmount}}</td>
        <td>{{fundraiser.collectedAmount}}</td>
    </tr>
    </tbody>
</table>
