.detail{
    padding-bottom: 3%!important;
}

.header {
    padding-bottom: 3%!important;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

.key {
    color: brown;
}

.add {
    font-size: large;
    cursor: pointer;
}

.input {
    width: 74% !important;
}

.value-1 {
    padding-left: 13%;
}

.value-2 {
    padding-left: 2%;
}

.value-3 {
    padding-left: 13%;
}

.value-4 {
    padding-left: 3%;
}

.button {
    padding-left: 42%;
}

.image-preview {
    height: 256px;
    width: 415px;
    padding-top: 10px;
}

.post-header {
    color: darkcyan;
}

.btn-cancel {
    margin-left: 20px;
}