.map-view {
    height: 600px;
    width: 800px;
}

.map-for-aqi {
    margin-left: -5%;
}

.container {
    margin-top: 2%;
}

.img-aqi {
    width: 366px;
}

.aqi-img {
    margin-top: 20px;
}

.key {
    font-size: 23px;
    color: blue;
}

.aqi-row {
    padding-top: 3%;
}

.stats {
    padding-left: 7%;
}

.btn-sm {
    margin-top: -25%;
}

.agm-info-window-content {
    font-size: 20px;
    text-align: center;;
}