<nav class="navbar navbar-light bg-white">
    <a href="#" class="navbar-brand" routerLink="/my-socialfeeds" >My Posts</a>
</nav>


<div class="container-fluid gedf-wrapper">
    <div class="row">

        <!--profile section-->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">{{loggedInUserEmailId}}</div>
                    <div class="h7 text-muted">Fullname : {{loggedInUserName}}</div>
                    <img class="rounded-circle" width="200" [src]="loggedInUserDP" alt="">
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Followers</div>
                            <div class="h5">5.2342</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Following</div>
                            <div class="h5">6758</div>
                        </li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 gedf-main">

                <!--- Create new feed-->
            <div class="card gedf-card">
                <div class="card-body">
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" (click)="createPost()" class="btn btn-primary eco-button create-feed">WHAT ARE YOU THINKING?</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
            <div *ngFor="let socialFeed of socialFeedList" class="card gedf-card">

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{socialFeed.emailId}}</div>
                                <div class="h7 text-muted">Miracles Lee Cross</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{socialFeed.updatedDate | dateAgo}}</div>
                    <a class="card-link" href="#">
                        <h5 class="card-title">{{socialFeed.location}}</h5>
                    </a>

                    <p class="card-text">
                        {{socialFeed.description}}
                    </p>
                        
                    <div>
                        <img width="400" height="400" [src]="socialFeed.image">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
