.eco-button {
    color: rgb(56, 142, 60)
}

.create-feed {
    background-color: azure;
}

.btn-delete {
    margin-left: 20px;
}

.feed-container {
    margin-top: 10px;;
}

.social-feed-card {
    margin: 5px;
}