<div class="container" *ngIf="fundraiser">
    <form>
        <fieldset disabled="disabled">
            <div class="row">
                <div class="col-25">
                    <label for="title">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="title" name="title" [value]="fundraiser.title" >
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col-75">
                    <input type="text" id="category" name="category" [value]="fundraiser.category" >
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="shortDescription">Short Description</label>
                </div>
                <div class="col-75">
                    <textarea id="shortDescription" name="description" [value]="fundraiser.shortDescription" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="longDescription">Long Description</label>
                </div>
                <div class="col-75">
                    <textarea id="longDescription" name="description" [value]="fundraiser.longDescription" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="accountNumber">Account Number</label>
                </div>
                <div class="col-75">
                    <input type="text" id="accountNumber" name="accountNumber" [value]="fundraiser.accountNo">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="routingNumber">Routing Number</label>
                </div>
                <div class="col-75">
                    <input type="text" id="routingNumber" name="routingNumber" [value]="fundraiser.routingNo">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="targetAmount">Target Amount</label>
                </div>
                <div class="col-75">
                    <input type="text" id="targetAmount" name="targetAmount" [value]="fundraiser.targetAmount">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="collectedAmount">Status</label>
                </div>
                <div class="col-75">
                    <input type="text" id="collectedAmount" name="collectedAmount" [value]="fundraiser.collectedAmount">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<h1>Donors List</h1>
<table>
    <thead>
    <th scope="col">Name</th>
    <th scope="col">Amount</th>
    </thead>
    <tbody>
    <tr *ngFor="let donation of donations">
        <td>{{donation.name}}</td>
        <td>{{donation.amount}}</td>
    </tr>
    </tbody>
</table>

