.form {
  background: #fff;
  border: 1px solid;
  height: auto;
  border-color: #c7bdbd40;
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(198, 207, 234);
  margin-bottom: 1.6%;
  overflow: hidden;
  align-items: center;
  padding: 20px;
}

.category {
  color: #039be5;
  font-weight: bold;
}

h1 {
  color: darkseagreen;
}

h3 {
  color: dodgerblue;
  text-align: center;
}


h4, .centre {
  color: chocolate;
  justify-content: center;
  text-align: center;
}

.short-desc {
  color: #555555;
  font-weight: bold;
  font-family: "Bookman Old Style";

  display: inline-block;
  text-align: justify;
}

.long-desc {
  color: grey;
  font-weight: bold;
  font-family: "Times New Roman";
  display: inline-block;
  text-align: justify;

}

.firma-card{
  background: #fff;
  border: 1px solid;
  height: auto;
  border-color: #c7bdbd40;
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(198, 207, 234);
  margin-bottom: 1.6%;
  overflow: hidden;
}
.firmalar{
  background: #f1f4f5c7;
}
.buttons {
  padding: 15px;
}

button {
  align-content: center;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {

  .firma-logo{
    width: calc(33.66667% - .75rem);
    height: 6.5rem;
    margin: 5px .375rem;
  }
  .firma-resim {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .img-padding-no{
    padding-right: 0px;
    padding-left: 0px;
  }
}

